.ddd{
    color: red;
}
.s{
    color:green;
}

.k{
    color: green;
}
.G{
    color: green;
}
.R{
    color: red;
}
h1{
    color: green
    ;
}
.k{
    height: 450px;
    width: 400px;
    position: absolute;bottom:top; 
}
.i{
    color: red;
}
.u{
    color: gree;
}
img{
    position: absolute; right: 0px;
}
.m{
    display: inline-flexbox;
}
